<ion-view view-title="Browse">
  <ion-content>
    <div class="list">
        <a ui-sref="app.harita" class="item kategori-item" style="background: url('img/maps.jpg');background-size: cover;">
          <h2>Harita</h2>
        </a>
        <a href="#" class="item kategori-item" style="background: url('img/bg1.jpg');background-size: cover;">
          <h2>Elma</h2>
        </a>
        <a href="#" class="item kategori-item"style="background: url('img/bg2.jpg');background-size: cover;" >
          <h2>Kara Tahta</h2>
        </a>
        <a href="#" class="item kategori-item"style="background: url('img/bg3.jpg');background-size: cover;">
          <h2>Tebeşir</h2>
        </a>
        <a href="#" class="item kategori-item"style="background: url('http://45.media.tumblr.com/4ed002be795feb24f182caa48d216918/tumblr_n0jmnr5dP61qav3uso2_r1_500.gif');background-size: cover;">
          <h2>KOD YAZMAK</h2>
        </a>
    </div>
  </ion-content>
</ion-view>
